.containerCategorias{
    background-color: #009fe3;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: solid;
    height: 150px;


}

.texto{
    color: rgb(17, 184, 20);
    font-size: 180px;
}

.containerCategorias img {
    width: 90px;
    height:90px;
    border-radius: 100px;
    background-color: rgb(67, 165, 42);
    border: solid rgb(255, 253, 253) 0.2px;
}
.containerCategorias img:hover{
    height:90px;
    width: 90px;
}