
.sliderC-container{
    margin: 0 ;
    margin-top: 50px;
    /* border: solid red; */

}
.containerZonaSaltos{
    display: flex;
    flex-wrap: wrap;
    cursor:grab;
    width: 100%;
    column-gap: 20px;
    /* border: solid blue; */
}

.sub-zonaSaltos div img{
    width: 100%;
    height: 300px;
    cursor: grab;
    /* pointer-events: none; */
    /* border: solid rgb(14, 14, 196); */
}
/* .animated{
    width: 150px;
    border: solid red;
} */

.sub-zonaSaltos img:hover{
    border:solid rgb(87, 255, 3);
    animation: border-move 5s infinite;
 
} 

@keyframes border-move {
    0% { border-color: rgb(75, 192, 16); }
    25% { border-color: rgb(220, 18, 126); }
    50% { border-color: rgb(226, 98, 18); }
    75% { border-color: rgb(8, 249, 233); }
    100% { border-color: rgb(87, 255, 3); }
  }
  


/* --------texto---------  */
.sliderC-container p {
    color:rgb(22, 230, 230);
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0px 10px 0px;
    /* border: solid red; */
}

.sliderC-container p:hover{
    color: greenyellow;
    font-size: 25px;
}



