
.sliderC-container{
    margin: 0 ;
    margin-top: 50px;
    /* border: solid red; */

}
.containerZonaSaltos{
    display: flex;

    cursor:grab;
    width: 100%;
    column-gap: 15px;
    /* border: solid blue; */
}

.sub-zonaSaltos div img{
    width: 100%;
    height: 300px;
    cursor: grab;
    /* pointer-events: none; */
    /* border: solid rgb(14, 14, 196); */
}
/* .animated{
    width: 150px;
    border: solid red;
} */

.sub-zonaSaltos img:hover{
    border:solid 7px rgb(255, 7, 230);
    animation: border-move 5s infinite;
    width: 110%;
 
} 

@keyframes border-move {
    0% { border-color: rgb(2, 253, 245); }
    25% { border-color: rgb(81, 250, 8); }
    50% { border-color: rgb(222, 12, 241); }
    75% { border-color: rgb(8, 249, 233); }
    100% { border-color: rgb(237, 67, 5); }
    100% { border-color: rgb(41, 11, 239); }
  }
  


/* --------texto---------  */
.sliderC-container p {
    color:rgb(22, 230, 230);
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0px 10px 0px;
    /* border: solid red; */
}

.sliderC-container p:hover{
    color: greenyellow;
    font-size: 25px;
}



