@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');



body{
  /* background-color: rgb(232, 239, 237); */
  font-family: 'Rubik,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif';
  /* background: linear-gradient(134deg,#033c70,#042f70 46%,#260c5e); */
 /* background-color: #0c163b; */
}
/* menu hamburguesa */
.hamburguer{
  margin-right: 30px;

  /* termino de menu hamburguesa del header */
}
/* estilo en modo responsive aqui se le cambio el color de fondo las separaciones , el tamaño de la letra  */
@media (400px <= width <= 800px) {
  .headersm{
    color: black;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(12, 90, 206);
    gap: 50px;
   

  }
  .heradersm:hover{
    font-size: 40px;
    font-weight: lighter;
    transition: 0.5s;
   
  }
  
}



/* zona de novedades Cards */
.card_contenedor{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 98%;
  margin: auto;
  margin-top: 100px;
  background-color: #f0f0f0;
  margin-bottom: 70px;
}
.card_img{
  width: 200px;
  height: 200px;

  margin:auto;


}
/* desde aqui se modifico para poder agregar los stilos a los precios */
.card_info{
 display: flex;
  align-items: center;
  margin: 10px;
  width: 90px;
  height: 30px;
  justify-content: end;
 
  
}
.card_name{
  display: flex;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 80px;
  font-weight: lighter;
  justify-content: center;
}
.card_logo_bbva{
  width: 70px;
}
.contenedor_precio_logo{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  
}
/* termino estilos a los precios */
/* .card_buton{
  display: flex;
  justify-content: center; 
 align-items: center;
  margin: 10px;
  border: solid 1px black;
  width: 200px;
  height: 40px;
  background-color: #a4b6bc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  /* align-items: center;
  margin: 10px;
  width: 200px;
  height: 50px;
  background-color: #00bfff;
  border-radius: 10px;
  border: none;
  cursor: pointer; */
/* } */ 

.boton_compra{
 
  width: 200px;
  height: 40px;
  background-color: #009fe3;
  border-radius: 10px;
  margin-top: 10px;
  display: flex ;
  justify-content: center;
  margin-left: 10px;
}
.boton_compra:hover{
  /* background-color: rgb(73, 203, 30); */
  background-color: #0039a6;
  color: white;
  transition: 0.5s;

} 
 
/* transition del carrucel infinito */
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-400px * 5 - 0.5rem * 10));
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
 
}
/* fin del carrucel infinito */

/* Carrucel */
.carru{
  width: 100%;
  margin: auto;
  z-index: -1;
  background-color: #0c163b;
  background-size: cover;
  
  border-radius: 10px;

  /* Aqui lo que pasaba era que cuando hacia modo celular el carrucel no se escondia cuando activava el menu ambuguesa por eso se le puso un z-index -1 y en modo celular tenga una position relative y con esto ya desaparece al poner el menu ambuguesa */
}
@media (400px <= width <= 800px){
  .carru{
    position: relative;
   
  }
  /* responsive de marcas asociadas */
  .marca_asociada{
    font-size: 20px;
    display: flex;
    text-align: center;
    color: #0039a6;
  }
}
/* inicio de carrucel infinito */
.slider{
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track{
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 20 + 0.5rem * 10);
  margin-top: 60px;
}
.slider .slide{
  width: 200px;

}
.slider .slide img{
  width: 100%;
  
}
@keyframes scroll {
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(calc(-200px * 10));
    transform: translateX(calc(-200px * 10));
  }
}