body{
    background: rgb(255, 255, 255);
    
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.containerCarrucel{
  
    height: auto;
    display: flex;
    justify-content:right;
    /* border: solid red; */
    background:linear-gradient(rgba(26, 14, 1, 0.986),rgba(244, 245, 242, 0.598));

}
/* ----------carrucel------ */

.imgCarrucel{
   
    width:1400px;
    height: 600px;
    /* border: solid rgb(18, 177, 129); */
}

/* -----------modo darck--------------  */